@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Existing styles in app.postcss */

body {
  margin: 0;
  padding: 0;
}

#my-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
